# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
vendor
.env
uploads/* !.gitkeep
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/vendor/
.gitignore
public/uploads/5f8oh6IRjfPtqb1YbivQ.jpg
public/uploads/67dca7d33ae9b.pdf
public/uploads/sDIzRpiW7lf3tVVvWwmg.pdf
public/uploads/sKri1arGo9up2Z2PXS2p.pdf
public/uploads/VehxvUkQwGAGZ7DUesfY.jpg
